<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="login-container">

    <h1>Enterprise HRMS</h1>

    <h2>Dashboard</h2>

    <hr>

    <p><strong>Employees :</strong> 1</p>

    <p><strong>Departments :</strong> 1</p>

    <p><strong>Status :</strong> Login successful</p>

    <br>

    <button onclick="window.location.href='/employees'">
        Employee Management
    </button>

    <br><br>

    <button onclick="window.location.href='/logout'">
        Logout
    </button>

</div>

</body>

</html>